<div class="container form-heading col-md-4">
    <h2 class="heading">Add Event</h2>
</div>
<br>
<div class="container form col-md-4">
    <form id="event" method="post">
        <div class="form-group">
            <label for="society">Society:</label>
            <input name="society" type="text" class="form-control" id="society" placeholder="Enter Society">

            <label for="eventname">Event:</label>
            <input name="eventname" type="text" class="form-control" id="eventname" placeholder="Enter Name of event">

            <label>Date:</label><br>
            <input name="date" type="date" class="form-control">
            <label>Time:</label><br>
            <input name="time" type="time" class="form-control">
            <label for="duration">Duration:</label>
            <input name="duration" type="text" class="form-control" id="duration" placeholder="Enter duration">

            <label for="venue">Venue:</label>
            <input name="venue" type="text" class="form-control" id="venue" placeholder="Enter Venue">

            <label for="desc">Description:</label>
            <textarea id="desc" class="form-control" name="desc" placeholder="Add event description"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add Event</button>
    </form>

</div>