<br><br>
<div class="container home">
    <div class="jumbotron">
        <h1 class="display-4">Hello, Folks!</h1>
        <p class="lead">Get all information about the events happening near you.</p>
        <br>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/events" role="button" style="margin-right: 10px">See all events</a>
            <a class="btn btn-primary btn-lg" href="/upcoming-events" role="button" style="margin-right: 10px">Upcoming
                events</a>
            <a class="btn btn-primary btn-lg" href="/recent-events" role="button" style="margin-right: 10px">Recent events</a>
            </p>

        </div>
    </div>