<div class="container form-heading col-md-4">
    <h2 class="heading">Login Now</h2>
</div>
        <br>


<div class="container form col-md-4">

    <form id="login" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input name="username" type="text" class="form-control" id="username" placeholder="Enter Your username">
            <label for="exampleInputPassword1">Password:</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                   placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

</div>