$def with(events)
        <div class="container">
            <h2 style="color: white">Upcoming Events</h2>
            <br>
            <div class="container">
                $for event in events:
                        <div class="card" style="width: 18rem; opacity: 0.6; float: left; margin-right:70px; margin-bottom: 20px">
                            <div class="card-body">
                                <p class="card-text">Society: $event['society']</p>
                                <p class="card-text">Event: $event['event-name']</p>
                                <p class="card-text">Date: $event['ndate']</p>
                                <p class="card-text">Time: $event['time']</p>
                                <p class="card-text">Venue: $event['venue']</p>
                                <p class="card-text">Duration: $event['duration']</p>
                                <p class="card-text">Desc: $event['description']</p>
                                <p class="card-text">$event['TimeStamp']</p>
                            </div>
                        </div>
            </div>
        </div>
